Repository opensearch-project/opensearch-build, pull requests merged in 2021-11, with the labels that each got.

#859 Adding docker automated image build pipeline and related scripts
  docker/ci/build-image-multi-arch.sh
  docker/ci/build-image-single-arch.sh
  docker/ci/dockerfiles/ci-runner.centos7.dockerfile
  docker/ci/dockerfiles/ci-runner.docker-builder.ubuntu2004.x64.dockerfile
  docker/release/build-image-multi-arch.sh
  jenkins/docker/Jenkinsfile
Labels: cicd, docker

#862 Prevent unit tests failures when adding/removing components from manifests
  tests/test_run_build.py
  tests/test_run_checkout.py
  tests/test_run_ci.py
  tests/tests_manifests/test_input_manifest.py
Labels: bug

#867 Add collapsed usage guide into the release issue template
  .github/ISSUE_TEMPLATE/release_template.md
Labels: documentation

#868 Add component table template with legend
  .github/ISSUE_TEMPLATE/release_template.md
Labels: documentation

#928 Add docker build trigger after bundle builds
  docker/release/build-image-multi-arch.sh
  docker/release/build-image-single-arch.sh
  docker/release/dockerfiles/opensearch-dashboards.al2.dockerfile
  docker/release/dockerfiles/opensearch.al2.dockerfile
  jenkins/docker/Jenkinsfile
  jenkins/opensearch/Jenkinsfile
Labels: enhancement, cicd, docker

#929 Trigger docker image build after successful bundle build dashboards
  jenkins/opensearch-dashboards/Jenkinsfile
  jenkins/opensearch/Jenkinsfile
Labels: enhancement, cicd, docker

#944 Make sure JAVA_HOME is correctly exported in dockerfiles
  docker/release/dockerfiles/opensearch.al2.dockerfile
Labels: bug, docker

#1135 Start building 1.3.0 snapshot artifacts for OpenSearch
  jenkins/opensearch/Jenkinsfile
Labels: cicd, v1.3.0

#1146 Remove repository param as it is not used now
  docker/ci/build-image-multi-arch.sh
Labels: cicd

#1162 fix failed docker build due to missing plugins
  docker/release/dockerfiles/opensearch.al2.dockerfile
  scripts/opensearch-onetime-setup.sh
Labels: ci-test-automation

#1163 add name and update file location for test manifest
  ONBOARDING.md
  src/manifests/test_manifest.py
  src/run_integ_test.py
  src/test_workflow/README.md
  src/test_workflow/config/opensearch/test_manifest.yml
  tests/tests_manifests/data/opensearch-test-1.1.0.yml
  tests/tests_manifests/data/test/opensearch-test-schema-version-1.0.yml
  tests/tests_test_workflow/data/test_manifest.yml
  tests/tests_test_workflow/test_integ_workflow/integ_test/data/test_manifest.yml
Labels: ci-test-automation

#1145 Distinguish OpenSearch vs OpenSearchDashboards manifest file during b…
  README.md
  jenkins/test/testsuite/Jenkinsfile
  src/paths/assemble_output_dir.py
  src/paths/build_output_dir.py
  src/paths/output_dir.py
  src/run_assemble.py
  src/run_build.py
  src/run_integ_test.py
  tests/jenkins/jobs/Vars_Jenkinsfile.txt
  tests/test_run_assemble.py
  tests/tests_paths/test_assemble_output_dir.py
  tests/tests_paths/test_build_output_dir.py
  tests/tests_test_workflow/data/local/builds/opensearch/manifest.yml
  tests/tests_test_workflow/data/local/dist/opensearch/manifest.yml
  tests/tests_test_workflow/data/remote/builds/opensearch/manifest.yml
  tests/tests_test_workflow/data/remote/dist/opensearch/manifest.yml
  tests/tests_test_workflow/test_bwc_workflow/bwc_test/test_bwc_suite.py
  tests/tests_test_workflow/test_bwc_workflow/bwc_test/test_run_bwc_test.py
  tests/tests_test_workflow/test_dependency_installer.py
  vars/assembleManifest.groovy
  vars/buildAssembleUpload.groovy
  vars/uploadArtifacts.groovy
Labels: ci-test-automation

#1167 fix the path to plugins dir under builds/
  src/test_workflow/dependency_installer.py
  tests/tests_test_workflow/test_dependency_installer.py
Labels: ci-test-automation

#1153 implement local test cluster for dashboards
  src/test_workflow/integ_test/local_test_cluster.py
  src/test_workflow/integ_test/local_test_cluster_opensearch_dashboards.py
  src/test_workflow/integ_test/service.py
  src/test_workflow/perf_test/perf_test_cluster.py
  src/test_workflow/test_cluster.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_local_test_cluster.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_local_test_cluster_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch.py
  tests/tests_test_workflow/test_perf_workflow/perf_test/test_perf_test_cluster.py
Labels: ci-test-automation

#1166 fix the status check of service in cluster
  src/test_workflow/integ_test/service.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch.py
Labels: ci-test-automation

#1172 set logging dest param for dashboards service
  src/test_workflow/integ_test/service_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch_dashboards.py
Labels: ci-test-automation

#1173 Add functionalTestDashboards to OpenSearch Dashboards test manifest
  src/test_workflow/config/opensearch-dashboards/test_manifest.yml
Labels: ci-test-automation

#1179 Resolve issues that break docker builds in #1154 of build repo
  docker/release/dockerfiles/opensearch-dashboards.al2.dockerfile
  docker/release/dockerfiles/opensearch.al2.dockerfile
  src/jenkins/InputManifest.groovy
  tests/jenkins/jobs/InputManifest_Jenkinsfile.txt
  tests/jenkins/jobs/Vars_Jenkinsfile.txt
  vars/buildDockerImage.groovy
Labels: bug, docker, v1.3.0

#1200 Update docker builder image dockerfile to allow data prepper build
  docker/ci/dockerfiles/ci-runner.docker-builder.ubuntu2004.x64.dockerfile
  jenkins/docker/Jenkinsfile
Labels: cicd, docker
