Repository opensearch-project/opensearch-build, pull requests merged in 2021-12, with the labels that each got.

#1216 Fix ruby and rvm version not running correctly in non-interactive shell
  docker/ci/dockerfiles/ci-runner.al2.dockerfile
  docker/ci/dockerfiles/ci-runner.centos7.dockerfile
Labels: cicd, docker

#1221 update the status check for OpenSearch Dashboards
  src/test_workflow/integ_test/service.py
  src/test_workflow/integ_test/service_opensearch.py
  src/test_workflow/integ_test/service_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch_dashboards.py
Labels: ci-test-automation

#1238 Make arm64 running arm64 cypress binary
  docker/ci/dockerfiles/ci-runner.al2.dockerfile
  docker/ci/dockerfiles/ci-runner.centos7.dockerfile
Labels: cicd, docker

#1229 require test manifest path for running tests
  ONBOARDING.md
  README.md
  jenkins/test/testsuite/Jenkinsfile
  manifests/1.3.0/opensearch-1.3.0-test.yml
  manifests/1.3.0/opensearch-dashboards-1.3.0-test.yml
  src/ci_workflow/ci_input_manifest.py
  src/ci_workflow/ci_manifest.py
  src/ci_workflow/ci_manifests.py
  src/ci_workflow/ci_test_manifest.py
  src/run_ci.py
  src/run_integ_test.py
  src/test_workflow/README.md
  src/test_workflow/test_args.py
  tests/test_run_ci.py
  tests/tests_test_workflow/test_bwc_workflow/bwc_test/test_run_bwc_test.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_run_integ_test.py
  tests/tests_test_workflow/test_test_args.py
Labels: ci-test-automation

#1222 Support running OpenSearch or OpenSearch Dashboards integ test from t…
  src/run_integ_test.py
  src/test_workflow/integ_test/integ_test_runner.py
  src/test_workflow/integ_test/integ_test_runner_opensearch.py
  src/test_workflow/integ_test/integ_test_runner_opensearch_dashboards.py
  src/test_workflow/integ_test/integ_test_runners.py
  src/test_workflow/integ_test/integ_test_start_properties.py
  src/test_workflow/integ_test/integ_test_start_properties_opensearch.py
  src/test_workflow/integ_test/integ_test_start_properties_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_runner_opensearch.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_runner_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_start_properties_opensearch.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_start_properties_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_run_integ_test.py
Labels: ci-test-automation

#1250 update cluster logs and test artifacts during test recording
  src/test_workflow/integ_test/integ_test_suite.py
  src/test_workflow/integ_test/integ_test_suite_opensearch.py
  src/test_workflow/integ_test/integ_test_suite_opensearch_dashboards.py
  src/test_workflow/integ_test/service.py
  src/test_workflow/integ_test/service_opensearch.py
  src/test_workflow/integ_test/service_opensearch_dashboards.py
  src/test_workflow/test_cluster.py
  src/test_workflow/test_recorder/test_recorder.py
  src/test_workflow/test_recorder/test_result_data.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_suite_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_local_test_cluster_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch.py
  tests/tests_test_workflow/test_recorder/test_local_cluster_logs.py
Labels: ci-test-automation

#1270 Add new attribute filename to build manifest class property
  src/assemble_workflow/bundle_recorder.py
  src/manifests/build/build_manifest_1_0.py
  src/manifests/build/build_manifest_1_1.py
  src/manifests/build_manifest.py
  src/manifests/input_manifest.py
  src/paths/assemble_output_dir.py
  src/paths/build_output_dir.py
  src/paths/output_dir.py
  src/run_assemble.py
  src/run_build.py
  tests/tests_manifests/test_build_manifest.py
  tests/tests_manifests/test_input_manifest.py
  tests/tests_manifests/test_input_manifests.py
  tests/tests_paths/test_assemble_output_dir.py
  tests/tests_paths/test_build_output_dir.py
Labels: ci-test-automation

#1265 Update public url to include filename
  src/assemble_workflow/bundle_file_location.py
  src/assemble_workflow/bundle_location.py
  src/assemble_workflow/bundle_locations.py
  src/assemble_workflow/bundle_recorder.py
  src/assemble_workflow/bundle_url_location.py
  src/run_assemble.py
  tests/test_run_assemble.py
  tests/tests_assemble_workflow/test_bundle_file_location.py
  tests/tests_assemble_workflow/test_bundle_locations.py
  tests/tests_assemble_workflow/test_bundle_recorder.py
  tests/tests_assemble_workflow/test_bundle_url_location.py
Labels: ci-test-automation

#1263 Support separate paths for OpenSearch and OpenSearch Dashboards dur…
  src/run_bwc_test.py
  src/test_workflow/README.md
  src/test_workflow/integ_test/integ_test_runner_opensearch.py
  src/test_workflow/integ_test/integ_test_runner_opensearch_dashboards.py
  src/test_workflow/test_args.py
  src/test_workflow/test_kwargs.py
  tests/tests_test_workflow/test_bwc_workflow/bwc_test/test_run_bwc_test.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_run_integ_test.py
  tests/tests_test_workflow/test_test_args.py
  tests/tests_test_workflow/test_test_kwargs.py
Labels: ci-test-automation

#1275 Add 1.1.1 issue template and input manifests
  .github/meta_issue_template/release-1.1.1-component-issues.md
  .github/meta_issue_template/release-1.3.0-component-issues.md
  manifests/1.1.1/opensearch-1.1.1.yml
  manifests/1.1.1/opensearch-dashboards-1.1.1.yml
  src/ci_workflow/ci_check_manifest_component.py
  src/ci_workflow/ci_input_manifest.py
  src/ci_workflow/ci_target.py
  tests/tests_ci_workflow/test_ci_check_gradle_dependencies.py
  tests/tests_ci_workflow/test_ci_check_gradle_dependencies_opensearch.py
  tests/tests_ci_workflow/test_ci_check_gradle_properties.py
  tests/tests_ci_workflow/test_ci_check_gradle_properties_version.py
  tests/tests_ci_workflow/test_ci_check_gradle_publish_to_maven_local.py
  tests/tests_ci_workflow/test_ci_check_lists_dist.py
  tests/tests_ci_workflow/test_ci_check_manifest_component.py
  tests/tests_ci_workflow/test_ci_target.py
Labels: release, v1.1.1

#1277 Enable builds of 1.1.1 in Jenkins now
  .github/meta_issue_template/release-1.1.1-component-issues.md
  .github/meta_issue_template/release-1.3.0-component-issues.md
  jenkins/opensearch-dashboards/Jenkinsfile
  jenkins/opensearch/Jenkinsfile
Labels: release, v1.1.1

#1278 Update dashboards-reports build.sh so it builds with dashboards
  scripts/components/reportsDashboards/build.sh
Labels: release, v1.1.1

#1292 Fix reference to distribution module
  src/build_workflow/builder_from_dist.py
Labels: bug

#1296 Adding patches to the 1.2.1 manifest
  manifests/1.2.1/opensearch-1.2.1.yml
Labels: bug, v1.2.1

#1298 Only update core for 1.2.1 aso plugin teams can depend on it for bulds
  manifests/1.2.1/opensearch-1.2.1.yml
Labels: v1.2.1

#1301 Adding job scheduler to unblock downstream dependencies
  manifests/1.2.1/opensearch-1.2.1.yml
Labels: v1.2.1

#1312 Release notes for OpenSearch 1.2.1
  release-notes/opensearch-release-notes-1.2.1.md
Labels: v1.2.1

#1313 fix OpenSearch Dashboards install dir
  src/test_workflow/integ_test/local_test_cluster_opensearch_dashboards.py
  src/test_workflow/integ_test/service_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_local_test_cluster_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch_dashboards.py
Labels: ci-test-automation

#1305 Improve test args
  src/run_bwc_test.py
  src/run_integ_test.py
  src/test_workflow/integ_test/integ_test_runner_opensearch.py
  src/test_workflow/integ_test/integ_test_runner_opensearch_dashboards.py
  src/test_workflow/integ_test/integ_test_runners.py
  src/test_workflow/test_args.py
  src/test_workflow/test_args_path_validator.py
  src/test_workflow/test_kwargs.py
  tests/tests_test_workflow/data/test-manifest-opensearch-dashboards.yml
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_runner_opensearch.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_runner_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_integ_test_runners.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_run_integ_test.py
  tests/tests_test_workflow/test_test_args.py
  tests/tests_test_workflow/test_test_args_path_validator.py
  tests/tests_test_workflow/test_test_kwargs.py
Labels: ci-test-automation

#1324 add test manifests to previous version
  manifests/1.0.0/opensearch-1.0.0-test.yml
  manifests/1.0.1/opensearch-1.0.1-test.yml
  manifests/1.1.0/opensearch-1.1.0-test.yml
  manifests/1.1.0/opensearch-dashboards-1.1.0-test.yml
  manifests/1.1.1/opensearch-1.1.1-test.yml
  manifests/1.1.1/opensearch-dashboards-1.1.1-test.yml
  manifests/1.2.0/opensearch-1.2.0-test.yml
  manifests/1.2.0/opensearch-dashboards-1.2.0-test.yml
  manifests/1.2.1/opensearch-1.2.1-test.yml
Labels: ci-test-automation

#1331 Added OpenSearch 1.2.2 release manifest.
  jenkins/check-for-build.jenkinsfile
  manifests/1.2.2/opensearch-1.2.2-test.yml
  manifests/1.2.2/opensearch-1.2.2.yml
Labels: v1.2.2

#1349 Add read access for dist prefix in dev s3 bucket
  deployment/lib/identities.ts
Labels: cicd

#1354 Add opensearch promotion workflow and jenkins libs for tar
  jenkins/promotion/tar-promotion.jenkinsfile
  vars/promoteArtifacts.groovy
Labels: enhancement, cicd

#1396 Add distribution description to opensearch/dashboards jenkins workflows
  jenkins/opensearch-dashboards/distribution-build.jenkinsfile
  jenkins/opensearch/distribution-build.jenkinsfile
  tests/jenkins/jobs/Build_OpenSearch_Dashboards_Jenkinsfile
  tests/jenkins/jobs/DetectDockerImage_Jenkinsfile
Labels: enhancement, cicd, jenkins

#1413 Adding slash append to COPY target to BC with docker engine 18.09.0 or older version
  docker/release/dockerfiles/opensearch-dashboards.al2.dockerfile
  docker/release/dockerfiles/opensearch.al2.dockerfile
Labels: docker
