Repository opensearch-project/opensearch-build, pull requests merged in 2022-06, with the labels that each got.

#2163 Add new options for distribution build to tag docker with build number
  docker/release/build-image-multi-arch.sh
  jenkins/docker/docker-build.jenkinsfile
  jenkins/opensearch-dashboards/distribution-build.jenkinsfile
  jenkins/opensearch/distribution-build.jenkinsfile
  tests/jenkins/jobs/BuildDockerImage_Jenkinsfile_builds_both.txt
  tests/jenkins/jobs/BuildDockerImage_Qualifier_Jenkinsfile_builds_both.txt
  vars/buildDockerImage.groovy
Labels: enhancement, cicd, docker, jenkins

#2176 Add docker copy workflow description for more clarity
  jenkins/docker/docker-copy.jenkinsfile
Labels: enhancement, cicd, docker, jenkins

#2195 Re-order dockerfiles for ci and tweak rockylinux8 dockerfile for signing
  docker/ci/build-image-multi-arch.sh
  docker/ci/dockerfiles/current/build.centos7.opensearch-dashboards.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/build.centos7.opensearch.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/build.rockylinux8.opensearch.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/docker-builder.ubuntu2004.x64.dockerfile
  docker/ci/dockerfiles/current/test.centos7.systemd-base.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/test.rockylinux8.opensearch-dashboards.x64.arm64.dockerfile
  docker/ci/dockerfiles/legacy/build.ubuntu18.opensearch.x64.dockerfile
  docker/ci/dockerfiles/legacy/data-prepper.ubuntu2004.x64.dockerfile
Labels: cicd, jenkins, deb/rpm, signing

#2196 Add RPM Temporary Signing Through Shell Scripts
  jenkins/sign-artifacts/sign-standalone-artifacts.jenkinsfile
  scripts/pkg/sign_templates/rpmmacros
  tests/jenkins/TestAssembleManifest.groovy
  tests/jenkins/TestSignArtifacts.groovy
  tests/jenkins/jenkinsjob-regression-files/data-prepper/release-data-prepper-all-artifacts.jenkinsfile.txt
  tests/jenkins/jenkinsjob-regression-files/maven-sign-release/maven-sign-release.jenkinsfile.txt
  tests/jenkins/jenkinsjob-regression-files/sign-standalone-artifacts/sign-standalone-artifacts.jenkinsfile.txt
  tests/jenkins/jobs/AssembleManifest_rpm_Jenkinsfile.txt
  tests/jenkins/jobs/PromoteArtifactsQualifier_actions_Jenkinsfile.txt
  tests/jenkins/jobs/PromoteArtifactsQualifier_actions_OpenSearch_Dashboards_Jenkinsfile.txt
  tests/jenkins/jobs/PromoteArtifacts_actions_Jenkinsfile.txt
  tests/jenkins/jobs/PromoteArtifacts_actions_OpenSearch_Dashboards_Jenkinsfile.txt
  tests/jenkins/jobs/SignArtifacts_Jenkinsfile
  tests/jenkins/jobs/SignArtifacts_Jenkinsfile.txt
  tests/jenkins/lib-testers/SignArtifactsLibTester.groovy
  vars/assembleManifest.groovy
  vars/signArtifacts.groovy
Labels: enhancement, jenkins, deb/rpm

#2198 Add rockylinux8 systemd docker image for rpm signature checking on fips-enabled host
  docker/ci/dockerfiles/current/test.rockylinux8.systemd-base.x64.arm64.dockerfile
  docker/ci/dockerfiles/legacy/test.centos7.systemd-base.x64.arm64.dockerfile
  jenkins/rpm-validation/rpm-validation.jenkinsfile
Labels: cicd, jenkins, deb/rpm

#2200 Opensearch rpm validation fix2: Use yumdownloader for both yum and dnf and add yum import public key
  jenkins/opensearch-dashboards/distribution-build.jenkinsfile
  jenkins/opensearch/distribution-build.jenkinsfile
  tests/jenkins/jobs/RpmOpenSearchDistValidation_Jenkinsfile.txt
  vars/rpmCommands.groovy
  vars/rpmOpenSearchDistValidation.groovy
Labels: bug, jenkins, deb/rpm

#2201 Make sign artifact lib output clear msgs on utility versions
  tests/jenkins/jobs/AssembleManifest_rpm_Jenkinsfile.txt
  tests/jenkins/jobs/SignArtifacts_Jenkinsfile.txt
  vars/signArtifacts.groovy
Labels: enhancement, jenkins, deb/rpm

#2206 Add yum repo production promotion setups
  jenkins/promotion/promote-artifacts.jenkinsfile
  jenkins/promotion/promote-yum-repos.jenkinsfile
  tests/jenkins/TestPromoteYumRepos.groovy
  tests/jenkins/jobs/PromoteYumRepos_Jenkinsfile
  tests/jenkins/jobs/PromoteYumRepos_Jenkinsfile.txt
  vars/promoteYumRepos.groovy
Labels: cicd, jenkins, deb/rpm

#2207 Yum Repo production creation error fix
  jenkins/promotion/promote-yum-repos.jenkinsfile
Labels: cicd, jenkins, deb/rpm

#2212 Add performance test related x64 docker file and images
  docker/ci/dockerfiles/current/test.centos7.performance-test.x64.dockerfile
Labels: enhancement, test, cicd, docker, performance, jenkins

#2231 Reduce input manifest build frequency for new upcoming versions
  src/manifests_workflow/input_manifests.py
  tests/tests_manifests_workflow/test_input_manifests.py
Labels: cicd, jenkins

#2242 Updating OpenSearch ref to 2.1
  manifests/2.1.0/opensearch-2.1.0.yml
Labels: v2.1.0

#2246 Fix dataprepper jenkins pipeline trigger docker-copy workflow
  jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile
  tests/jenkins/jenkinsjob-regression-files/data-prepper/release-data-prepper-all-artifacts.jenkinsfile.txt
Labels: bug, jenkins

#2245 Add dataprepper as a part of the source image param
  jenkins/docker/docker-copy.jenkinsfile
  tests/jenkins/TestCopyContainer.groovy
Labels: bug, jenkins

#2249 Add gradle check jenkins workflow on public jenkins
  docker/ci/dockerfiles/current/docker-builder.ubuntu2004.x64.dockerfile
  docker/ci/dockerfiles/legacy/test.centos7.gradle-check.x64.dockerfile
  jenkins/gradle/gradle-check.jenkinsfile
  tests/jenkins/TestRunGradleCheck.groovy
  tests/jenkins/jobs/RunGradleCheck_Jenkinsfile
  tests/jenkins/jobs/RunGradleCheck_Jenkinsfile.txt
  tests/jenkins/lib-testers/RunGradleCheckLibTester.groovy
  vars/runGradleCheck.groovy
Labels: cicd, jenkins

#2270 Make sure gradle check is using c518xlarge runner
  jenkins/gradle/gradle-check.jenkinsfile
Labels: cicd, jenkins

#2274 Set concurrent build limit for gradle check to 50
  jenkins/gradle/gradle-check.jenkinsfile
Labels: enhancement, cicd, jenkins

#2279 Add test coverage xml and support 1.x gradle check
  jenkins/gradle/gradle-check.jenkinsfile
  tests/jenkins/jobs/RunGradleCheck_Jenkinsfile.txt
  vars/runGradleCheck.groovy
Labels: enhancement, cicd, jenkins

#2283 Change codecov xml name and move gradle check script to build repo
  jenkins/gradle/gradle-check.jenkinsfile
  scripts/gradle/gradle-check.sh
  tests/jenkins/jobs/RunGradleCheck_Jenkinsfile.txt
  vars/runGradleCheck.groovy
Labels: enhancement, cicd, jenkins

#2285 Add gradle cleanup before the checks
  tests/jenkins/jobs/RunGradleCheck_Jenkinsfile.txt
  vars/runGradleCheck.groovy
Labels: bug, enhancement, cicd, jenkins
