Repository opensearch-project/opensearch-build, pull requests merged in 2023-02, with the labels that each got.

#3165 Add osslsigncode compilation on CentOS7 Docker Image
  docker/ci/dockerfiles/current/release.centos.clients.x64.arm64.dockerfile
Labels: feature, windows, signing, clients

#3118 Add support to overwrite an existing artifact for signing process and add verification for windows
  src/run_sign.py
  src/sign_workflow/sign_args.py
  src/sign_workflow/sign_artifacts.py
  src/sign_workflow/signer.py
  src/sign_workflow/signer_pgp.py
  src/sign_workflow/signer_windows.py
  src/sign_workflow/signers.py
  tests/tests_sign_workflow/test_sign_args.py
  tests/tests_sign_workflow/test_sign_artifacts.py
  tests/tests_sign_workflow/test_signer.py
  tests/tests_sign_workflow/test_signer_pgp.py
  tests/tests_sign_workflow/test_signer_windows.py
  tests/tests_sign_workflow/test_signers.py
Labels: enhancement

#3169 Add rvm dynamic installation and jruby
  docker/ci/dockerfiles/current/release.centos.clients.x64.arm64.dockerfile
Labels: docker, clients

#3175 Add distribution selector to promotion workflows artifacts
  jenkins/promotion/promote-artifacts.jenkinsfile
Labels: enhancement, release, jenkins, v1.3.8

#3176 Add a comma to the workflow for artifacts uploads
  jenkins/opensearch-dashboards/distribution-build.jenkinsfile
  jenkins/promotion/promote-artifacts.jenkinsfile
Labels: bug

#3174 Silent potential lxc container not able to set vm.max_map_count=262144 issues
  scripts/pkg/build_templates/opensearch/deb/debian/postinst
  scripts/pkg/build_templates/opensearch/rpm/opensearch.rpm.spec
Labels: bug, rpm, deb

#3161 RPM/Deb integtest fix on sudo related issues and process
  src/system/process.py
  src/test_workflow/integ_test/distribution.py
  src/test_workflow/integ_test/distribution_deb.py
  src/test_workflow/integ_test/distribution_rpm.py
  src/test_workflow/integ_test/distribution_tar.py
  src/test_workflow/integ_test/distribution_zip.py
  src/test_workflow/integ_test/service_opensearch.py
  src/test_workflow/integ_test/service_opensearch_dashboards.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_distribution_deb.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_distribution_rpm.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_distribution_tar.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_distribution_zip.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch.py
  tests/tests_test_workflow/test_integ_workflow/integ_test/test_service_opensearch_dashboards.py
Labels: bug, integtest, rpm, deb

#3163 Fix #3116 - [BUG] DEB is using RPM default file path
  scripts/pkg/service_templates/opensearch/usr/lib/systemd/system/opensearch.service
Labels: bug, rpm, deb

#3217 Add ml dashboards plugin to the 2.6.0 manifest
  manifests/2.6.0/opensearch-dashboards-2.6.0.yml
Labels: release, v2.6.0

#3233 Update docker-compose latest label to major release number
  docker/release/dockercomposefiles/docker-compose-1.x.yml
  docker/release/dockercomposefiles/docker-compose-2.x.yml
Labels: documentation, docker

#3244 Add apt repo promotion for the deb distribution
  jenkins/promotion/promote-repos.jenkinsfile
Labels: release, jenkins, deb, v2.6.0

#3212 Add Yarn version updates to the ci images
  docker/ci/config/yarn-version.sh
  docker/ci/dockerfiles/current/build.centos7.opensearch-dashboards.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/release.centos.clients.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/test.centos7.performance-test.x64.arm64.dockerfile
  docker/ci/dockerfiles/current/test.rockylinux8.opensearch-dashboards.x64.arm64.dockerfile
Labels: bug, release, jenkins, v2.6.0

#3038 Validation Workflow for Docker and Tar,Rpm,Yum distributions
  src/run_validation.py
  src/validation_workflow/api_request.py
  src/validation_workflow/api_test_cases.py
  src/validation_workflow/docker/__init__.py
  src/validation_workflow/docker/inspect_docker_image.py
  src/validation_workflow/docker/validation_docker.py
  src/validation_workflow/rpm/__init__.py
  src/validation_workflow/rpm/validation_rpm.py
  src/validation_workflow/tar/__init__.py
  src/validation_workflow/tar/validation_tar.py
  src/validation_workflow/validation.py
  src/validation_workflow/validation_args.py
  src/validation_workflow/validation_rpm.py
  src/validation_workflow/validation_tar.py
  src/validation_workflow/validation_test_runner.py
  src/validation_workflow/validation_yum.py
  src/validation_workflow/yum/__init__.py
  src/validation_workflow/yum/validation_yum.py
  tests/test_run_validation.py
  tests/tests_validation_workflow/test_api_request.py
  tests/tests_validation_workflow/test_api_test_cases.py
  tests/tests_validation_workflow/test_inspect_docker_image.py
  tests/tests_validation_workflow/test_validation_args.py
  tests/tests_validation_workflow/test_validation_docker.py
  tests/tests_validation_workflow/test_validation_rpm.py
  tests/tests_validation_workflow/test_validation_tar.py
  tests/tests_validation_workflow/test_validation_test_runner.py
  tests/tests_validation_workflow/test_validation_yum.py
  tests/tests_validation_workflow/tests_validation_rpm.py
  tests/tests_validation_workflow/tests_validation_tar.py
  tests/tests_validation_workflow/tests_validation_yum.py
Labels: enhancement

#3249 Use 2.0.2 lib version for apt repository promotion
  jenkins/promotion/promote-repos.jenkinsfile
Labels: bug, jenkins, deb

#3240 Add amd64 as a condition for system/os.py to support freebsd x64 architecture
  src/system/os.py
  tests/tests_system/test_os.py
Labels: bug, good first issue
